[submodule "source"]
	path = source
	url = git@github.com:SCGANieFan/multimediaSource.git
[submodule "matlab"]
	path = matlab
	url = git@github.com:SCGANieFan/multimediaSim_Matlab.git
[submodule "vs"]
	path = vs
	url = git@github.com:SCGANieFan/multimediaSim_Vs.git
